{{define "favorites"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes Pokémon favoris</title>
    <link rel="stylesheet" href="../static/css/favoris.css">
</head>
<header class="header-container">
    <div class="header-left">
        <a href="/accueil"><img class="logo-site" src="../static/img/pokeapi.png" alt="Logo"></a>
    </div>
    <div class="header-middle">
        <img class="pikapika" src="../static/img/logo.png" alt="Pikachu">
    </div>
    <div class="header-right">
        <div class="search">
            <a href="/favorites" class="button"><img class="coeur" src="../static/img/coeur.png"></a>
            <form action="/search" method="get" class="search-form">
                <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <img class="pokesearch" src="../static/img/pokesearch.png">
                </button>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="father-container">

        <h1>Pokemon Favoris.</h1>
        {{if .}}
        <section id="pokemon-container">
            {{ range . }}
            <div>
                <a href="/pokemon/{{.Name}}" class="pokemon-card-link">
                    <div class="pokemon-card">
                        <div class="pokemon-image">
                            <img src="{{.Image}}" alt="image de {{.Name}}" class="image-pokemon">
                        </div>
                        <div class="pokemon-name">{{.Name}}</div>
                        <div class="pokemon-type">
                            {{range .Type}}
                            <a class="con" href="https://pokemon.fandom.com/wiki/{{.}}_type"><img class="type"src="../static/img/{{.}}.png"  class="image-pokemon" alt="{{.}} type"></a>
                            {{end}}
                        </div>
                    </div>
                </a>
                <div class="sousbar">
                    <form action="/remove-favorite" method="POST">
                        <input type="hidden" name="pokemonId" value="{{.ID}}">
                        <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ce Pokémon des favoris ?');">
                            <img class="poubelle" src="../static/img/poubelle.png" alt="Supprimer">
                        </button>
                    </form>
                    
            </div>
            </div>
            
        {{ end }}
        </section>
        {{else}}
        <p>Aucun Pokémon favori enregistré.</p>
        {{end}}
    </div>
</body>
<div class="sousbar2">
<footer class="site-footer">
    
    <div class="footer-left">
        <p>eliott°ink</p>
    </div>
    <div class="footer-right">
        <a href="/mentions-legales">Mentions légales</a>
        <a href="/travail">Travail</a>
    </div>
</footer>
</div>
</html>
{{end}}
