{{define "search"}}
<!DOCTYPE html>
<html>
<head>
    <title>Résultat de la recherche</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- ... -->
</head>
<header class="header-container">
    <div class="header-left">
        <a href="/accueil"><img class="logo-site" src="../static/img/pokeapi.png" alt="Logo"></a>
    </div>
    <div class="header-middle">
        <img class="pikapika" src="../static/img/logo.png" alt="Pikachu">
    </div>
    <div class="header-right">
        <div class="search">
            <form action="/search" method="get" class="search-form">
                <input type="text" class="searchTerm" name="query" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <img class="pokesearch" src="../static/img/pokesearch.png">
                </button>
            </form>
        </div>
    </div>
</header>
<body>
    <div class="father-container">
        <!-- ... Barre de recherche identique à la page d'accueil ... -->
        <section id="pokemon-container">
            <!-- Supposons que . soit un Pokémon unique trouvé lors de la recherche -->
            <div>
                <a href="/pokemon/{{.Name}}" class="pokemon-card-link">
                    <div class="pokemon-card">
                        <div class="pokemon-image">
                            <img src="{{.Image}}" alt="image de {{.Name}}" class="image-pokemon">
                        </div>
                        <div class="pokemon-name">{{.Name}}</div>
                        <div class="pokemon-type">
                            {{range .Type}}
                            <a href="https://pokemon.fandom.com/wiki/{{.}}_type"> <img class="type"src="../static/img/{{.}}.png"  class="image-pokemon" alt="{{.}} type"></a>
                            {{end}}
                        </div>
                    </div>
                </a>
                <form action="/add-favorite" method="POST">
                    <input type="hidden" name="pokemonId" value="{{.ID}}"> <!-- Remplacez {{.ID}} par l'ID du Pokémon -->
                    <button type="submit">
                        <img class="coeur" src="../static/img/coeur.png">
                    </button>
                </form>
                
            </div>
        </section>
    </div>
</body>   
<footer class="site-footer">
    <div class="footer-left">
        <p>eliott°ink</p>
    </div>
    <div class="footer-right">
        <a href="/mentions-legales">Mentions légales</a>
        <a href="/travail">Travail</a>
    </div>
</footer>
</html>
{{end}}
