@font-face {
  font-family: 'MaFont';
  src: url('/static/font/pokemonsolid.ttf');
}

h1 {
   display:flex;
  justify-content: center;
  font-family: Karma   ;
  font-size:40px;
  
}

h2 {
   display:flex;
   font-size:40px;
  font-family: Angkor ;
  margin-top:60px;
  justify-content: center;
  
}

body {
  background-color: #FFCB09;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color:#3466AF;
  height:150px;
  margin-top:-10px;
  margin-right:-0px;
  margin-left:-10px;
}


.header-container {
  justify-content: space-between;
  display: flex;
}

.logo-site {
  margin-left: 40px;
  margin-top: 20px;
  width: 250px;    
}

.header-middle {
  width: 160px;
  margin-right: -50px;
}

.pikapika {
  width: 140px;
  margin-right: 100px;
}


.search {
  display: flex;
  width: 400px;
  position: relative;
  margin-top: 50px;
  margin-right: 10px;
}



.search-form {
  width: 600px;
  display: flex;
  margin-bottom: 0px;
}




.searchTerm {
  width: 70%;
  border: 3px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.form-type {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);

}

.searchButton:hover {
  background-image: url("/static/img/pokeball.gif");
}

.pokesearch {
  width: 30px;
  margin-top: 6px;
}

.container {
  margin-top:5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:20px;
  font-family: 'MaFont', sans-serif;
  letter-spacing:2px;
}

.submit {
   width:100px;
  justify-content:center;
  height:50px;
  border-radius: 10px;
  
}

.submit:hover {
 transform: scale(1.2);
  background-color: #939393;
  
  
}

.bouton-type {
  height: 40px; /* Hauteur du bouton personnalisé */
  width: 40px; /* Largeur du bouton personnalisé */
  border-radius: 50%; /* Rend le bouton circulaire */
  border: 3px solid #000000; /* Couleur de la bordure de ton choix */
  background-color: white; /* Couleur de fond initiale */
  vertical-align: middle; /* Pour aligner verticalement avec le texte si nécessaire */
  cursor: pointer; /* Change le curseur pour indiquer un élément cliquable */
}


#pokemon-container {
  
  width:1405px;
  display: grid;
  
  margin-top:545px;
  grid-template-columns: repeat(5, 1fr); /* Crée une grille avec 5 colonnes */
  grid-auto-rows: minmax(100px, auto); /* Définit la hauteur minimale de la ligne, mais permet d'être plus grand si nécessaire */
  gap: 3em; /* Espace entre les cartes */
  padding: 1em; /* Espace autour de la grille */

  margin: 0 auto; /* Centre le conteneur */
}

.pokemon-card {
  display: flex;
  border-bottom: 3px solid grey;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top:50px;
  padding: 1em;
  /* Ajoutez d'autres styles selon vos besoins */
}

.image-pokemon {
  margin-left:15px;
  width: 60%; /* Adaptez la largeur de l'image à celle du conteneur */
  max-width: 150px; /* Définit une largeur maximale pour l'image */
  margin-bottom: 1em; /* Espace entre l'image et le nom du Pokémon */
}



.pokemon-name{
  text-decoration: none;
  font-family:'MaFont';
  letter-spacing: 3px;
  text-align:center;
  font-size:20px;
  margin-bottom: 0.5em;
}

.type {
   width:70px;
  
}

.pokemon-type {
  margin-bottom: 0.5em; /* Espace entre les types et le bas de la carte */
}


.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-left:-8px;
  width: 99%;
}

.footer-left,
.footer-right {
  display: flex;
}

.footer-right a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.footer-right a:hover {
  text-decoration: underline;
}

.sousbar2 {
   position: absolute; 
    left: 0; 
    z-index: 10;
    width:100%;
  
}

.container {
  margin-bottom:30px;
  
}